.Header-container{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

.Header-name{
    color: white;
    
}

.Header-logo>img{
    height: 50px;
    width: 50px;
}